body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

/*.flag {
  height: 100px;
  width: 100px;
  background-color: white;
  border: solid 2px gray;
  margin: 20px;
}*/





.flags {
  margin: 10px;
}
/*.flags input[type="radio"] {
    display:none;
} */
.flags label {
    display:inline-block;
    background-color:#ddd;
    padding: 10px 20px;
    font-family:Arial;
    font-size:16px;
    border: 2px solid #444;
    border-radius: 4px;
}
.flags label:hover {
  background-color: #dfd;
}
.flags input:checked + label {
    background-color:#bfb;
    border-color: #4c4;
}
