body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  height: 400px;
}

#green:hover {
  background-color: green;
}

.green {
  background-color: green;
}

#yellow:hover {
  background-color: yellow;
}

.yellow {
  background-color: yellow;
}

#red:hover {
  background-color: red;
}

.red {
  background-color: red;
}
