<head>
        <link rel="stylesheet" href="/stylesheets/style.css">
      </head>
      
      <body>
      
        <h2>Search for Beaches</h2>
      
       
      
      
        
      
      
      </body>