

  <form method="POST" action="/search">
      <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a location">
      </div>
  </form>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuuRe_95Mea-R9N_juEA8xGzd-wKkLcPo&libraries=places"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  
