<!DOCTYPE html>
<html lang="en">
    <head>
      <title>My First Map</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>  
      <h1>Beach Find</h1>
      <div id="locationField">
          <input id="beachAdress" placeholder="Enter Beach address" type="text" />
          <input type="submit" />
        </div>
        <div class="containerFlag">
          <form action="">
            <input type="radio" value=""> 
            <input type="radio" value=""> 
            <input type="radio" value=""> 
          </form>
        </div>
        <br />
      <div id="map"></div>
      <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJxEwNFlxMp1P-n5XVIY7c24onDQrochU&libraries=places">
    </script>
      <script type="text/javascript" src="javascripts/app.js"></script>
    </body>
  </html>