<!DOCTYPE html>
<html>
  <head>
    <title>Beach Finder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>

  </head>
  <body>
    <h1>Beach Finder</h1>
    <p>Welcome to the best place in the world to find a beach. </p>

    <form method="post">
      <label>Beach: <input type="text" name="beach" id="beach-search">
      </label>
      <button type="button" name="button" id="btn-search">Find the beach</button>
    </form>
    <br>

    <form class="flags hidden" action="" id="flag-div" method="post">
      <input type="radio" name="flag" value="red" id="red"> <label>Red</label><br>
      <input type="radio" name="flag" value="yellow" id="yellow"><label>Yellow </label><br>
      <input type="radio" name="flag" value="green" id="green"><label>Green </label><br>
    </form>
    <br>

     <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkbWZDqZ5s_PZ5n_up6h8cSICWaq0jGxY&libraries=places">
    </script>
    <script type="text/javascript" src="/javascript/map.js"></script>

  </body>
</html>
