<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUoH7OGJ6lDvLnDMoBuAxjuX1tnepLYnE&callback=initMap&&v=3.exp&libraries=places" defer></script>
    <script src="../public/javascripts/main.js"></script>
  </head>
    <body>
      <h3>Beach finder</h3>
      <form action="/" method="post">
        <input id="searchTextField" type="text" size="100" name="inputLocation">
        <input id='button-input' type="submit">
      </form>
      <div id="map"></div>
    </body>
  </html>
