<!DOCTYPE html>
<html>
 <head>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
 </head>
 <body>

  <h1>Set Flag</h1>
   <button id="green" class="button" type="button" name="button"></button>
   <button id="yellow" class="button" type="button" name="button"></button>
   <button id="red" class="button" type="button" name="button"></button>


   <input id="pac-input" class="controls" type="text" placeholder="Search Box">
   <div id="map"></div>

   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww&libraries=places&callback=initAutocomplete"
          async defer></script>

   <script type="text/javascript" src="javascript/main.js"></script>

 </body>

 </script>
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <p>Hello</p>

    <form method="GET" action="/">
      <label>Search beach</label>
      <input id="pac-input" type="text" name="name" placeholder="">
      <input id="search" type="submit" name="search">
    </form>

    <button id="green"class="button" type="button" name="button"></button>
    <button id="yellow"class="button" type="button" name="button"></button>
    <button id="red"class="button" type="button" name="button"></button>

    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQlU-xnsEqv0vKrg3lJycFc0-H7VzbhqY&libraries=places"async defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascript/main.js"></script>

  </body>
</html> -->
