<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
      <label for="beach">Beach</label>
      <input type="text" name = "beach" id = "beach">
      <button type="button" name="search">Search</button> </br> </br>
      <div id = "flags">
        <button type="button" name="color" id="green">Green</button>
        <button type="button" name="color" id="yellow">Yellow</button>
        <button type="button" name="color" id="red">Red</button>
      </div>
      <div id="map"></div>
    </div>

  </body>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYW3dpEphKyROvpdyoquy1_o2_wAsWVdA&libraries=places">
  </script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</html>
