<form action="">
<input type="text" autocomplete="on"> 
<button>Search</button> 
</form>

<div id="map"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf04_qPeB3N16rnOWFZ52jiS4QDKu4scQ&libraries=places&callback=initService"
async defer></script>
<script type="text/javascript" src="javascripts/index.js"></script>
