<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>

  <h1>Autocomplete Form</h1>

  <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
  <div id="map"></div>

  <div id="infowindow-content">
    <span id="place-name" class="title"></span><br> Place ID <span id="place-id"></span><br>
    <span id="place-address"></span>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVvVXck8Oi8trYUhRSem_QKJJT-i8nzG0&libraries=places&callback=initMap" async defer></script>
  <script type="text/javascript" src="/javascript/main.js"></script>

</body>

</html>
