<!DOCTYPE html>
<html>
  <head>
    <title>BEACH-FINDER</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BEACH-FINDER</h1>
    <label for="pac-input">Search</label>
    <input id="pac-input" class="controls" type="text" name="beachFinder"  placeholder="Search Box" >

    <button class="flag" type="button" id="red" name="red" ></button>
    <button class="flag" type="button" id="yellow" name="yellow"></button>
    <button class="flag" type="button" id="green" name="green"></button>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwWrPS2_Cc1tC-8cSuo37mKD4GAuzerl0&libraries=places">
    </script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

  </body>
</html>
