<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div>

    <ul>
      <% beaches.forEach(beach=>{%>
        <li>
          <%=beach.name%>
        </li>
        <%})%>
    </ul>

  </div>
</body>

</html>