<!DOCTYPE html>
<html>
  <head>
    <title>BEACH FINDER</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BEACH FINDER</h1>

    <%- body %>




  </body>
</html>
